.header-logo {
  color: var(--white);
  font-weight: 400;
  font-size: 28px;
  user-select: none;
  line-height: 36px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
}

.reduce-opacity {
  opacity: 0.5;
}

.nav-ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: none;
}

.nav-link {
  color: gray;
  list-style: none;
  font-family: "League Spartan";
  font-size: 11px;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  transition: color 0.3s ease-out;
}

@media (min-width: 768px) {
  nav {
    width: 100%;
    padding: 0 50px;
    margin-top: 39px;
    margin-bottom: 29px;
  }

  .nav-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .burger {
    display: none;
  }
  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 1024px) {
  nav {
    padding: 0 0 0 70px;
  }
  .header-container {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
    height: 70px;
    padding-right: 50px;
  }
  .header-logo {
    width: 100%;
  }

  .mercury:hover {
    color: #418ebb;
  }
  .venus:hover {
    color: #eda249;
  }
  .earth:hover {
    color: #6d2ed5;
  }
  .mars:hover {
    color: #d14c32;
  }
  .jupiter:hover {
    color: #d83a34;
  }
  .saturn:hover {
    color: #cd5120;
  }
  .uranus:hover {
    color: #1ec1a2;
  }
  .neptune:hover {
    color: #2d68f0;
  }
}
