.planet-stat-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
  border: 1px solid gray;
  border-radius: 3px;
  margin-top: 8px;
  z-index: -1000;
}

.planet-stat-name {
  font-family: "League Spartan";
  color: gray;
  font-weight: 700;
  font-size: 11px;
  line-height: 16px;
  margin: 16px 0 16px 24px;
}

.planet-stat-number {
  font-size: 20px;
  margin: 9px 24px 13px 0;
  letter-spacing: -1;
  line-height: 24px;
}

@media (min-width: 768px) {
  .planet-stat-container {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    align-items: flex-start;
    padding-left: 15px;
  }
  .planet-stat-name {
    margin: 16px 0;
  }
  .planet-stat-container:last-child {
    margin-right: 0;
  }
}

@media (min-width: 1024px) {
}
